node_modules
*/node_modules
dist
*/dist
.git
.kiro
.vscode
docs
*.md
!README.md
.eslintrc.json
.prettierrc
.prettierignore
**/__tests__
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/vitest.config.ts
